.profile {
    max-width: 50rem;
    margin: auto;
}

.profile__user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
    margin-bottom: 0;
    gap: 1.5rem;
}

.profile__user-info-thumbnail {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profile__user-info-changeImage {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.profile__user-info button {
    border: none;
    padding: .25rem;
    background-color: #38f;
    color: #fff;
    font-weight: 600;
    border-radius: .3rem;
}

.profile__user-info img {
    border-radius: 50%;
    box-shadow: #999 0 0 5px;
    z-index: -2;
    object-fit: cover;
    object-position: center;
}

.profile__sections {
    display: flex;
    gap: .5rem;
    padding: 1rem;
}

.profile a {
    color: #556;
    font-weight: 600;
    padding: .5rem;
    text-decoration: none;
}