.timer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: -1;
}

.timerContenedor {
    background-color: #fff;
    padding: 1rem;
    margin-top: 1rem;
    box-shadow: #999 0px 0px 5px;
    width: 70%;
}

.timerContenedor p {
    font-family: 'digital';
    font-size: 8rem;
    margin: 0;
    user-select: none;
}

.timer__buttons {
    display: flex;
    gap: .5rem;
}

.timer__buttons button {
    flex-grow: 1;
    border: none;
    background-color: #555;
    color: #eee;
    text-transform: uppercase;
    padding: .5rem;
}