.timer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: -1;
    margin-top: 1rem;
}

.timerContenedor {
    background-color: #fff;
    padding: 1rem;
    box-shadow: #ccc 0px 0px 5px;
    border-radius: .3rem;
    width: 95%;
    max-width: 50rem;
}

.timerContenedor p:last-of-type {
    font-family: 'digital';
    font-size: 8rem;
    margin: 0;
    user-select: none;
    color: #333;
}

.timer__buttons {
    display: flex;
    gap: .5rem;
}

.timer__buttons button {
    flex-grow: 1;
    border: none;
    background-color: #38f;
    color: #eee;
    padding: .25rem;
    border-radius: .3rem;
    font-weight: 600;
}