.timer {
    width: 100%;
    margin: auto;
    max-width: 50rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.timer__cathegory {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.timer__cathegory select {
    border: none;
    background-color: #f83;
    color: #eee;
    padding: .25rem;
    border-radius: .3rem;
    font-weight: 600;
    outline: none;
}

.timer__cathegory select * {
    background-color: #fff;
    color: #333;
    font-weight: 600;
}


.timerContenedor {
    background-color: #fff;
    padding: 1rem;
    box-shadow: #ccc 0px 0px 5px;
    border-radius: .3rem;
    width: 100%;
    max-width: 50rem;
}

.timerContenedor p:last-of-type {
    font-family: 'digital';
    font-size: 8rem;
    margin: 0;
    user-select: none;
    color: #333;
}

.timer__buttons {
    display: flex;
    gap: .5rem;
}

.timer__buttons button {
    flex-grow: 1;
    border: none;
    background-color: #38f;
    color: #eee;
    padding: .25rem;
    border-radius: .3rem;
    font-weight: 600;
}