.post {
    background-color: #fff;
    box-shadow: #ccc 0 0 5px;
    display: flex;
    flex-direction: column;
    gap: .15rem;
    padding: .5rem 1rem;
    border-radius: .3rem;
}

.post>div {
    padding: .5rem 0;
    border-bottom: solid #ccc .1rem;
}

.post .post__content {
    background-color: #eee;
    color: #444;
    padding: .5rem;
}

.post__interactions {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.post__interactions small {
    align-self: flex-start;
    padding: .25rem;
    /* background-color: #999; */
    color: #333;
    font-weight: 600;
}

.post__addComment form {
    display: flex;
}

.post__addComment button {
    border: none;
    border-radius: .3rem;
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 0rem;
    padding: .25rem;
    font-weight: 600;
    color: #fff;
    background-color: #38f;
}

.post__addComment input {
    border: none;
    border-radius: .3rem;
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
    padding: .25rem;
    background-color: #eee;
    outline: none;
}

.post__comments {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}